
<h1>Welcome to Battle, <%= @player_1 %> & <%= @player_2 %>!</h1>

<body>
<%= @player_1 %> HB points = <%= @player_1_points %>
<form action="/attack">
  <input type="submit" value="Attack!">
</form>
<%= @player_2 %> HB points = <%= @player_2_points %>
<!-- <input action="/attack" type="submit" value="Attack!"> -->

  </body>
