
<h1>Welcome to Battle, <%= @game.player_1.name %> & <%= @game.player_2.name %>!</h1>

<body>
<%= @game.player_1.name %> HB points = <%= @game.player_1.hit_points %>
<form action="/attack">
  <input type="submit" value="Attack!">
</form>
<%= @game.player_2.name %> HB points = <%= @game.player_2.hit_points %>
<!-- <input action="/attack" type="submit" value="Attack!"> -->

  </body>
